:root {
  --gray-darker: #444444;
  --gray-dark: #696969;
  --gray: #999999;
  --gray-light: #cccccc;
  --gray-lighter: #ececec;
  --gray-lightest: lighten(--gray-lighter, 4%);
}
.div-main{
  max-width: 1200px;
  margin: 0 auto;
}
.card__image img {
  height: 250px;
  width: 100%;
  vertical-align: middle;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards__item {
  display: flex;
  padding: 1rem;
}
@media (min-width: 40rem) {
  .cards__item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards__item {
    width: 33.3333%;
  }
}

.card1 {
  background-color: white;
  border-radius: 1.8rem;
  box-shadow: 0 20px 40px -14px rgba(95, 82, 9, 0.7);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.3s ease 0s;
}

.card1:hover{
  transform: scale(1.1);
}

.card1:hover .card__image {
  filter: contrast(100%);
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
  background-image: url('../images/vector4.png');
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(60%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);

}


.card__title {
  color: --gray-dark;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
}

.card__text {
  flex: 1 1 auto;
  font-size: 0.975rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  text-align: justify;
}
